$base: 4px;
$small-breakpoint: 1024px;

$font-size: 20px;

$orange: #d08200;
$green: #879e02;
$grey: #888fa0;
$blue: #315a9a;

$burger-height-mobile: $base * 8;
$header-height-mobile: $base * 18;
$nav-animation-default: 0.4s ease;

@mixin mediaSmall {
    @media (max-width: $small-breakpoint) {
      @content;
    }
  }

* { padding: 0; margin: 0; box-sizing: border-box; }

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: $base*15 0;
    background: url('./static/flower.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left 0 bottom $base*10;
    background-attachment: fixed;
    font-family: gill-sans-nova, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: $font-size;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: $base*5;
    background: white;
    text-align: right;
}

.main {
    max-width: 1280px;
    padding: $base*5 $base*10;
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    border-radius: $base;

    @include mediaSmall {
        padding: $base * 5;
    }
}

.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    right: 0;
    bottom: 0;
    left: 0;
    padding: $base*3 $base*5;
    background: white;
}

.h1 {
    font-family: mahalia, sans-serif;
    font-size: $font-size * 3;
    margin-bottom: $base * 5;

    @include mediaSmall {
        font-size: $font-size * 2;
    }
}

.h2 {
    font-family: mahalia, sans-serif;
    text-align: left;
}

.h3 {
    font-size: $font-size * 1.5;
    margin-bottom: $base * 2;
}

.right {
    text-align: right;
}

.menu {
    display: flex;
    list-style: none;

    @include mediaSmall {
        display: none;
        height: 0;
        opacity: 0;
    
        .navigation__toggle:checked~& {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-bottom: 60px;
          height: 0;
          opacity: 0;
    
          animation: navigationToggle $nav-animation-default;
          animation-fill-mode: forwards;
        }
      }
}

.menu__item {
    font-weight: bold;

    & + & {
        margin-left: $base * 6;

        @include mediaSmall {
            margin-left: 0;
            margin-top: $base * 2;
        }
    }
}

.link {
    text-decoration: none;
    color: $orange;

    &:hover, &:active, &:focus {
        text-decoration: underline;
    }
}
.link--email {
    color: $blue;
}

.columns {
    display: flex;

    @include mediaSmall {
        display: block;
    }
}

.column {
    flex-grow: 1;
    width: 50%;

    & + & {
        margin-left: 10%;
    }

    @include mediaSmall {
        width: 100%;
        
        & + & {
            margin-top: $base * 10;
            margin-left: 0;
        }
    }
}

.portrait {
    max-width: 250px;
    margin-top: $base * 15;
    box-shadow: rgba($orange, .4) 40px 20px 20px;

    @include mediaSmall {
        box-shadow: rgba($orange, .4) 20px 20px 20px;
    }
}

.paragraph {
    margin-top: $base * 5;
    text-align: right;

    @include mediaSmall {
        text-align: left;
        text-align: justify;
    }
}

.info {
    font-style: italic;
}

// ============== BURGER MENU =============
  
  .navigation__toggle {
    display: none;
  }
  
  .navigation__burger {
    position: relative;
    display: none;
    cursor: pointer;
  
    @include mediaSmall {
      display: block;
      width: $base * 10;
      height: $burger-height-mobile;
    }
  }
  
  .navigation__burger__base {
    position: absolute;
    top: 0;
    transform-origin: left;
    transition: transform $nav-animation-default;
  
    &,
    &:before,
    &:after {
      width: 100%;
      height: $base * 2;
      border-radius: 2px;
      background: black;
    }
  
    &:before,
    &:after {
      content: "";
      position: absolute;
      display: block;
      transform-origin: left;
      transition: transform $nav-animation-default, opacity $nav-animation-default;
    }
  
    &:before {
      top: $base * 3;
    }
  
    &:after {
      top: $base * 6;
    }
  
    .navigation__toggle:checked~.navigation__toggle__button & {
      & {
        transform: translateX(7px) translateY(25px) rotate(-45deg);
      }
  
      &::before {
        opacity: 0;
        transform: translateX(7px) translateY(-25px) rotate(45deg);
      }
  
      &::after {
        transform: translateX(20px) translateY(-44px) rotate(90deg);
      }
    }
  }


// ============== IMPRESSUM ===============
.impressum {
    flex-direction: column;

    .link {
        position: fixed;
        padding: $base * 5;
        top: 0;
        left: 0;
        background: white;
    }
    
    .main {
        width: 100%;
        max-width: 500px;
        margin: $base*10 0;
        text-align: left;
    }
}

// ============== ANIMATIONS ===============

@keyframes navigationToggle {
    50% {
      height: calc(100vh - #{$header-height-mobile});
      opacity: 0;
    }
  
    to {
      height: calc(100vh - #{$header-height-mobile});
      opacity: 1;
    }
  }