$base: 4px;
$small-breakpoint: 1024px;

@mixin mediaSmall {
    @media (max-width: $small-breakpoint) {
      @content;
    }
  }

* { padding: 0; margin: 0; box-sizing: border-box; }

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding-bottom: $base * 15;
    background: url('./static/flower.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left 0 bottom $base*10;
    background-attachment: fixed;
    font-family: gill-sans-nova, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: $base * 5;
}

.main {
    max-width: 100vw;
    padding: $base * 5;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: $base;
}

.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    right: 0;
    bottom: 0;
    left: 0;
    padding: $base*3 $base*5;
    background: white;
}

.h1 {
    font-family: mahalia, sans-serif;
    font-size: $base * 15;
    margin-bottom: $base * 5;

    @include mediaSmall {
        font-size: $base * 10;
    }
}

.h3 {
    font-size: $base * 7;
    margin-bottom: $base * 2;
}

.section {
    & ~ & {
        margin-top: $base * 10;
    }
}

.list {
    display: inline-block;
    text-align: left;
    padding-left: $base * 8;
}



.impressum {
    flex-direction: column;
    
    .main {
        width: 100%;
        max-width: 500px;
        margin: $base*10 0;
        text-align: left;
    }
}