* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  background: url("./static/flower.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left 0 bottom 40px;
  background-attachment: fixed;
  font-family: gill-sans-nova, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: white;
  text-align: right; }

.main {
  max-width: 1280px;
  padding: 20px 40px;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 4px; }
  @media (max-width: 1024px) {
    .main {
      padding: 20px; } }

.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 12px 20px;
  background: white; }

.h1 {
  font-family: mahalia, sans-serif;
  font-size: 60px;
  margin-bottom: 20px; }
  @media (max-width: 1024px) {
    .h1 {
      font-size: 40px; } }

.h2 {
  font-family: mahalia, sans-serif;
  text-align: left; }

.h3 {
  font-size: 30px;
  margin-bottom: 8px; }

.menu {
  display: flex;
  list-style: none; }
  @media (max-width: 1024px) {
    .menu {
      display: none;
      height: 0;
      opacity: 0; }
      .navigation__toggle:checked ~ .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 60px;
        height: 0;
        opacity: 0;
        animation: navigationToggle 0.4s ease;
        animation-fill-mode: forwards; } }

.menu__item {
  font-weight: bold; }
  .menu__item + .menu__item {
    margin-left: 24px; }
    @media (max-width: 1024px) {
      .menu__item + .menu__item {
        margin-left: 0;
        margin-top: 8px; } }

.link {
  text-decoration: none;
  color: #d08200; }
  .link:hover, .link:active, .link:focus {
    text-decoration: underline; }

.columns {
  display: flex; }
  @media (max-width: 1024px) {
    .columns {
      display: block; } }

.column {
  flex-grow: 1;
  width: 50%; }
  .column + .column {
    margin-left: 10%; }
  @media (max-width: 1024px) {
    .column {
      width: 100%; }
      .column + .column {
        margin-top: 40px;
        margin-left: 0; } }

.portrait {
  max-width: 250px;
  margin-top: 60px;
  box-shadow: rgba(208, 130, 0, 0.4) 40px 20px 20px; }
  @media (max-width: 1024px) {
    .portrait {
      box-shadow: rgba(208, 130, 0, 0.4) 20px 20px 20px; } }

.paragraph {
  margin-top: 20px;
  text-align: right; }
  @media (max-width: 1024px) {
    .paragraph {
      text-align: left;
      text-align: justify; } }

.info {
  font-style: italic; }

.navigation__toggle {
  display: none; }

.navigation__burger {
  position: relative;
  display: none;
  cursor: pointer; }
  @media (max-width: 1024px) {
    .navigation__burger {
      display: block;
      width: 40px;
      height: 32px; } }

.navigation__burger__base {
  position: absolute;
  top: 0;
  transform-origin: left;
  transition: transform 0.4s ease; }
  .navigation__burger__base, .navigation__burger__base:before, .navigation__burger__base:after {
    width: 100%;
    height: 8px;
    border-radius: 2px;
    background: black; }
  .navigation__burger__base:before, .navigation__burger__base:after {
    content: "";
    position: absolute;
    display: block;
    transform-origin: left;
    transition: transform 0.4s ease, opacity 0.4s ease; }
  .navigation__burger__base:before {
    top: 12px; }
  .navigation__burger__base:after {
    top: 24px; }
  .navigation__toggle:checked ~ .navigation__toggle__button .navigation__burger__base {
    transform: translateX(7px) translateY(25px) rotate(-45deg); }
  .navigation__toggle:checked ~ .navigation__toggle__button .navigation__burger__base::before {
    opacity: 0;
    transform: translateX(7px) translateY(-25px) rotate(45deg); }
  .navigation__toggle:checked ~ .navigation__toggle__button .navigation__burger__base::after {
    transform: translateX(20px) translateY(-44px) rotate(90deg); }

.impressum {
  flex-direction: column; }
  .impressum .link {
    position: fixed;
    padding: 20px;
    top: 0;
    left: 0;
    background: white; }
  .impressum .main {
    width: 100%;
    max-width: 500px;
    margin: 40px 0;
    text-align: left; }

@keyframes navigationToggle {
  50% {
    height: calc(100vh - 72px);
    opacity: 0; }
  to {
    height: calc(100vh - 72px);
    opacity: 1; } }
